main.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'FreeMono', monospace;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul li {
    margin-left: 30px;
    box-sizing: content-box;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 20px;
}

li > a:hover {
    text-decoration: none;
    color: pink;
    background-color: rgb(35, 35, 61);
}

li > a:visited {
    text-decoration: none;
    color: pink;
}

li > a:link {
    text-decoration: none;
    color: pink;
}

.img-container {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    object-fit: cover;
}

.tags h3{
    border-style: solid;
    border-width: 1px;
    display: inline;
    box-sizing: content-box;
}

.personal {
    background-color: rgb(101, 58, 172);
    color: rgb(149, 83, 255);
}

.class {
    background-color: rgb(31, 66, 119);
    color:  rgb(55, 113, 201);;
}

.row{
	display: flex;	
}

.col-1 {flex-basis: 8.33%;} /* width works too */
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}